<div class="sidebar">
    <a href="index.html" class="logo">
        <div class="bx"><img class="bx" src="uploads/ongcna.jpeg" alt=""></div>
        <div class="logo-name"><span> Ongcna </span></div>
    </a>
    <ul class="side-menu" id="main-menu">
        <li><a href="/index"><i class='bx bxs-dashboard'></i>Tableau de Bord</a></li>
        <li><a href="/equipes" id="equipes"><i class='bx bxs-group'></i>Groupes</a></li>
        <li><a href="inscription" id="creation-stagiaires"><i class='bx bxs-user-badge'></i>Creation Stagiaires</a></li>
    </ul>
    <div id="content-placeholder"></div>

    <ul class="side-menu">
        <li>
            <a href="/logout" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Se deconnecter
            </a>
        </li>
    </ul>
</div>
<!-- fin de Sidebar -->
